

<div class="left_container">

  <nav>
    <div id="logo">
      <h1>LeftOut</h1>
    </div>
    <div id="home">
      <h1>Home</h1>
    </div>
    <div id="profile">
      <h1>Profile</h1>
    </div>

    <!-- <p>So if you simply want a job to pay the rent whilst you follow your true calling, start here.</p> -->
  </nav>

  <div class="tagline">
    <h2>The place for creatives who prefer to kick out the corporate ladder rather than climb it.</h2>
  </div>

  <div class="container">

<!-- User details **************************************************************** -->

    <div class="user">

      <div class="user_pic"></div>

      <p>name</p>
      <p>location</p>
      <p>Following</p>
      <p>Followers</p>
      <p>Inmail</p>

    </div>

<!-- Artform details ************************************************************* -->

    <div class="arty">

      <h3>Artform:</h3>

      <div class="artform_pic"></div>

      <h3>Bio/Comments</h3>
      <div class="bio"></div>

    </div>

<!-- Work preferences ************************************************************** -->

    <div class="work">

      <ul>
        <li>Fulltime</li>
        <li>Part time</li>
        <li>Shift work</li>
        <li>Weekend work</li>
        <li>Contract</li>
        <li>Any</li>
      </ul>

      <p>Preferences</p>

    </div>

  </div>

</div>

<!-- Scrolling side *************************************************************  -->

<aside class="scroll">

  <div class="paragons">

  <div id="paragon_photo"></div>

    <!-- <div id="artist_name"></div>
    <div id="artist_vocation"></div>
    <div id="artist_dayjob"></div> -->

    <div id="picOne"></div>
    <div id="exampleOne">
      <h3>Charles Dickens</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Factory worker</p>
    </div>

  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picTwo"></div>
    <div id="exampleTwo">
      <h3>Cyndi Lauper</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Kennel cleaner</p>
    </div>

  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picThree"></div>
    <div id="exampleThree">
      <h3>Paul Gauguin</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Stock broker</p>
    </div>

  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picFour"></div>
    <div id="exampleFour">
      <h3>Stephen King</h3>
      <p>Vocation: Writer</p>
      <p>Day job: School janitor</p>
    </div>

  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picFive"></div>
    <div id="exampleFive">
      <h3>Phillip Glass</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Plumber/Taxi driver</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picSix"></div>
    <div id="exampleSix">
      <h3>Harper Lee</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Airline clerk</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picSeven"></div>
    <div id="exampleSeven">
      <h3>William Faulkner</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Mailman</p>
    </div>

  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picEight"></div>
    <div id="exampleEight">
      <h3>Mick Jagger</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Hospital porter</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picNine"></div>
    <div id="exampleNine">
      <h3>Jackson Pollock</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Babysitter</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picTen"></div>
    <div id="exampleTen">
      <h3>Agatha Christie</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Chemist's assistant</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picEleven"></div>
    <div id="exampleEleven">
      <h3>John Grisham</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Plumber</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picTwelve"></div>
    <div id="exampleTwelve">
      <h3>Ai Weiwei</h3>
      <p>Vocation: Artist</p>
      <p>Day job: Carpenter/House painter</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picThirteen"></div>
    <div id="exampleThirteen">
      <h3>Vivian Maier</h3>
      <p>Vocation: Photographer</p>
      <p>Day job: Nanny</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picFourteen"></div>
    <div id="exampleFourteen">
      <h3>Charles Bukowski</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Mailman/etc, etc</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picFifthteen"></div>
    <div id="exampleFifthteen">
      <h3>Kurt Cobain</h3>
      <p>Vocation: Musician</p>
      <p>Day job: Janitor</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picSixteen"></div>
    <div id="exampleSixteen">
      <h3>George Saunders</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Doorman/Roofer/etc</p>
    </div>
  </div>

  <div class="paragons">

    <div id="paragon_photo"></div>

    <div id="picSeventeen"></div>
    <div id="exampleSeventeen">
      <h3>Nathaniel Hawthorne</h3>
      <p>Vocation: Writer</p>
      <p>Day job: Port clerk</p>
    </div>
  </div>

  </div>
</div>

</aside>
